.home-section{
    color: white;
   
}

h1{
    border-bottom: 3px solid white;
}
.jumbotron h1 {
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    color: grey;
    width: 50%
}
.subtitle {
    margin: 0 auto;
    font-family: monospace;
    width:44%;
}
<<<<<<< HEAD
.navbar-default a {
    font-family: monospace, sans-serif;
=======
/*.navbar-default a {
    font-family: monospace;
>>>>>>> origin/master
    margin-left: 24em;
    text-decoration: none;
}*/

.hello {
    margin-left: 2.2em;
    font-family: monospace, sans-serif;
}
 
.firstpage {
    margin-left: 4em;
    font-family: monospace, sans-serif;
}
.h3contact {
    margin-left: 2em;
    font-family: monospace, sans-serif;
}
.faqp {
    margin-left: 4em;
    font-family:monospace, sans-serif;
}
.aboutp {
    margin-left: 4em;
    font-family: monospace, sans-serif;
}
.contactp {
    margin-left: 4em;
    font-family: monospace, sans-serif;
}
.omoss{
    margin-left: 10em;
}
.jumbotron{
    background: url(images/kibord.jpg) 100% no-repeat ;
    background-size: 100%;
}